Source: ros-noetic-ridgeback-base
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-controller-manager, ros-foxy-diagnostic-updater, ros-foxy-geometry-msgs, ros-foxy-hardware-interface, ros-foxy-realtime-tools, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-noetic-catkin, ros-noetic-puma-motor-driver (>= 0.3.0), ros-noetic-puma-motor-msgs, ros-noetic-ridgeback-msgs, ros-noetic-roscpp, ros-noetic-roslaunch <!nocheck>, ros-noetic-roslint <!nocheck>, ros-noetic-rosserial-server
Homepage: http://wiki.ros.org/Robots/Ridgeback
Standards-Version: 3.9.2

Package: ros-noetic-ridgeback-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-scipy, ros-foxy-controller-manager, ros-foxy-diagnostic-aggregator, ros-foxy-diagnostic-updater, ros-foxy-diff-drive-controller, ros-foxy-geometry-msgs, ros-foxy-imu-filter-madgwick, ros-foxy-realtime-tools, ros-foxy-sensor-msgs, ros-foxy-std-msgs, ros-foxy-teleop-twist-joy, ros-noetic-puma-motor-driver (>= 0.3.0), ros-noetic-puma-motor-msgs, ros-noetic-ridgeback-control, ros-noetic-ridgeback-description, ros-noetic-ridgeback-msgs, ros-noetic-rosserial-python, ros-noetic-rosserial-server, ros-noetic-tf, ros-noetic-topic-tools, socat
Description: Ridgeback's mobility and sensor base.
